{% extends 'main.html' %} {% block content %}

<!-- break -->
{% if page == "signin" %}
<div>
  <form action="" method="POST">
    {% csrf_token %}

    <label for="">Username:</label>
    <input type="text" name="username" placeholder="Enter Username" />

    <label for="">Password:</label>
    <input type="password" name="password" placeholder="Enter Password" />

    <input type="submit" value="Sign in" />
  </form>

  <p>Haven't signed up yet?</p>
  <a href="{% url 'signup' %}">Sign Up</a>
</div>

{% else %} 

<div>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Sign Up" />
  </form>

  <p>Already signed up yet?</p>
  <a href="{% url 'signin' %}">Sign In</a>
</div>

{% endif %}

<!-- break -->
{% endblock content %}
